/* MadCap Table Style: */

/*<meta Version="7" />*/

mcTableStyle
{
	name: Basic;
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: none;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: none;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 3;
	widows: 3;
	orphans: 3;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	font-size: 9pt;
	name: Body1;
	id: 1;
}

mcTableFootStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-Basic
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: none;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: none;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	widows: 3;
	orphans: 3;
	border-spacing: 0px 0px;
}

.TableStyle-Basic .Column-Column1
{
	
}

.TableStyle-Basic .Head-Header1
{
	
}

.TableStyle-Basic .HeadI-Column1-Header1
{
	
}

.TableStyle-Basic .HeadI-Column1-Header1 p
{
	
}

.TableStyle-Basic .HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-Basic .HeadE-Column1-Header1 p
{
	
}

.TableStyle-Basic .HeadF-Column1-Header1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-Basic .HeadF-Column1-Header1 p
{
	
}

.TableStyle-Basic .HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Basic .HeadH-Column1-Header1 p
{
	
}

.TableStyle-Basic .HeadD-Column1-Header1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-Basic .HeadD-Column1-Header1 p
{
	
}

.TableStyle-Basic .HeadC-Column1-Header1
{
	
}

.TableStyle-Basic .HeadC-Column1-Header1 p
{
	
}

.TableStyle-Basic .HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Basic .HeadB-Column1-Header1 p
{
	
}

.TableStyle-Basic .HeadA-Column1-Header1
{
	
}

.TableStyle-Basic .HeadA-Column1-Header1 p
{
	
}

.TableStyle-Basic .HeadG-Column1-Header1
{
	
}

.TableStyle-Basic .HeadG-Column1-Header1 p
{
	
}

.TableStyle-Basic .Foot-Footer1
{
	
}

.TableStyle-Basic .FootI-Column1-Footer1
{
	
}

.TableStyle-Basic .FootI-Column1-Footer1 p
{
	
}

.TableStyle-Basic .FootE-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-Basic .FootE-Column1-Footer1 p
{
	
}

.TableStyle-Basic .FootF-Column1-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-Basic .FootF-Column1-Footer1 p
{
	
}

.TableStyle-Basic .FootH-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Basic .FootH-Column1-Footer1 p
{
	
}

.TableStyle-Basic .FootD-Column1-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-Basic .FootD-Column1-Footer1 p
{
	
}

.TableStyle-Basic .FootC-Column1-Footer1
{
	
}

.TableStyle-Basic .FootC-Column1-Footer1 p
{
	
}

.TableStyle-Basic .FootB-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Basic .FootB-Column1-Footer1 p
{
	
}

.TableStyle-Basic .FootA-Column1-Footer1
{
	
}

.TableStyle-Basic .FootA-Column1-Footer1 p
{
	
}

.TableStyle-Basic .FootG-Column1-Footer1
{
	
}

.TableStyle-Basic .FootG-Column1-Footer1 p
{
	
}

.TableStyle-Basic .Body-Body1
{
	
}

.TableStyle-Basic .BodyI-Column1-Body1
{
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-Basic .BodyI-Column1-Body1 p
{
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-Basic .BodyE-Column1-Body1
{
	font-size: 9pt;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Basic .BodyE-Column1-Body1 p
{
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-Basic .BodyF-Column1-Body1
{
	font-size: 9pt;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-Basic .BodyF-Column1-Body1 p
{
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-Basic .BodyH-Column1-Body1
{
	font-size: 9pt;
	font-weight: normal;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Basic .BodyH-Column1-Body1 p
{
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-Basic .BodyD-Column1-Body1
{
	font-size: 9pt;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-Basic .BodyD-Column1-Body1 p
{
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-Basic .BodyC-Column1-Body1
{
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-Basic .BodyC-Column1-Body1 p
{
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-Basic .BodyB-Column1-Body1
{
	font-size: 9pt;
	font-weight: normal;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Basic .BodyB-Column1-Body1 p
{
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-Basic .BodyA-Column1-Body1
{
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-Basic .BodyA-Column1-Body1 p
{
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-Basic .BodyG-Column1-Body1
{
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-Basic .BodyG-Column1-Body1 p
{
	font-size: 9pt;
	font-weight: normal;
}


