/* MadCap Table Style: */

/*<meta Version="7" />*/

mcTableStyle
{
	name: FieldDescriptions;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	max-id: 5;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	font-weight: bold;
	vertical-align: top;
	name: Column1;
	id: 0;
}

mcTableColumnStyle
{
	span: 1;
	vertical-align: top;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column2;
	id: 1;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	font-family: Tahoma;
	text-align: center;
	background-color: #dcddde;
	name: Header1;
	id: 4;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #a9a9a9;
	background-color: #ffffff;
	font-size: 9pt;
	name: Body1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	font-size: 9pt;
	vertical-align: top;
	background-color: #eeeeee;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #a9a9a9;
	name: Body2;
	id: 3;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 5;
}


/* Cell Styles: */
 
.TableStyle-FieldDescriptions
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-FieldDescriptions .Column-Column1
{
	
}

.TableStyle-FieldDescriptions .Column-Column2
{
	
}

.TableStyle-FieldDescriptions .Head-Header1
{
	
}

.TableStyle-FieldDescriptions .HeadI-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	vertical-align: top;
	font-family: Tahoma;
	text-align: center;
	background-color: #dcddde;
}

.TableStyle-FieldDescriptions .HeadI-Column1-Header1 p
{
	font-weight: bold;
	font-family: Tahoma;
}

.TableStyle-FieldDescriptions .HeadE-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-family: Tahoma;
	text-align: center;
	background-color: #dcddde;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-FieldDescriptions .HeadE-Column1-Header1 p
{
	font-weight: bold;
	font-family: Tahoma;
}

.TableStyle-FieldDescriptions .HeadF-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	vertical-align: top;
	font-family: Tahoma;
	text-align: center;
	background-color: #dcddde;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-FieldDescriptions .HeadF-Column1-Header1 p
{
	font-weight: bold;
	font-family: Tahoma;
}

.TableStyle-FieldDescriptions .HeadH-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-family: Tahoma;
	text-align: center;
	background-color: #dcddde;
}

.TableStyle-FieldDescriptions .HeadH-Column1-Header1 p
{
	font-weight: bold;
	font-family: Tahoma;
}

.TableStyle-FieldDescriptions .HeadD-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	vertical-align: top;
	font-family: Tahoma;
	text-align: center;
	background-color: #dcddde;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-FieldDescriptions .HeadD-Column1-Header1 p
{
	font-weight: bold;
	font-family: Tahoma;
}

.TableStyle-FieldDescriptions .HeadC-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	vertical-align: top;
	font-family: Tahoma;
	text-align: center;
	background-color: #dcddde;
}

.TableStyle-FieldDescriptions .HeadC-Column1-Header1 p
{
	font-weight: bold;
	font-family: Tahoma;
}

.TableStyle-FieldDescriptions .HeadB-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-family: Tahoma;
	text-align: center;
	background-color: #dcddde;
}

.TableStyle-FieldDescriptions .HeadB-Column1-Header1 p
{
	font-weight: bold;
	font-family: Tahoma;
}

.TableStyle-FieldDescriptions .HeadA-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	vertical-align: top;
	font-family: Tahoma;
	text-align: center;
	background-color: #dcddde;
}

.TableStyle-FieldDescriptions .HeadA-Column1-Header1 p
{
	font-weight: bold;
	font-family: Tahoma;
}

.TableStyle-FieldDescriptions .HeadG-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	vertical-align: top;
	font-family: Tahoma;
	text-align: center;
	background-color: #dcddde;
}

.TableStyle-FieldDescriptions .HeadG-Column1-Header1 p
{
	font-weight: bold;
	font-family: Tahoma;
}

.TableStyle-FieldDescriptions .HeadI-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: top;
	font-family: Tahoma;
	text-align: center;
	background-color: #dcddde;
}

.TableStyle-FieldDescriptions .HeadI-Column2-Header1 p
{
	font-family: Tahoma;
}

.TableStyle-FieldDescriptions .HeadE-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-family: Tahoma;
	text-align: center;
	background-color: #dcddde;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-FieldDescriptions .HeadE-Column2-Header1 p
{
	font-family: Tahoma;
}

.TableStyle-FieldDescriptions .HeadF-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: top;
	font-family: Tahoma;
	text-align: center;
	background-color: #dcddde;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-FieldDescriptions .HeadF-Column2-Header1 p
{
	font-family: Tahoma;
}

.TableStyle-FieldDescriptions .HeadH-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-family: Tahoma;
	text-align: center;
	background-color: #dcddde;
}

.TableStyle-FieldDescriptions .HeadH-Column2-Header1 p
{
	font-family: Tahoma;
}

.TableStyle-FieldDescriptions .HeadD-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: top;
	font-family: Tahoma;
	text-align: center;
	background-color: #dcddde;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-FieldDescriptions .HeadD-Column2-Header1 p
{
	font-family: Tahoma;
}

.TableStyle-FieldDescriptions .HeadC-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: top;
	font-family: Tahoma;
	text-align: center;
	background-color: #dcddde;
}

.TableStyle-FieldDescriptions .HeadC-Column2-Header1 p
{
	font-family: Tahoma;
}

.TableStyle-FieldDescriptions .HeadB-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-family: Tahoma;
	text-align: center;
	background-color: #dcddde;
}

.TableStyle-FieldDescriptions .HeadB-Column2-Header1 p
{
	font-family: Tahoma;
}

.TableStyle-FieldDescriptions .HeadA-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: top;
	font-family: Tahoma;
	text-align: center;
	background-color: #dcddde;
}

.TableStyle-FieldDescriptions .HeadA-Column2-Header1 p
{
	font-family: Tahoma;
}

.TableStyle-FieldDescriptions .HeadG-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: top;
	font-family: Tahoma;
	text-align: center;
	background-color: #dcddde;
}

.TableStyle-FieldDescriptions .HeadG-Column2-Header1 p
{
	font-family: Tahoma;
}

.TableStyle-FieldDescriptions .Foot-Footer1
{
	
}

.TableStyle-FieldDescriptions .FootI-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	vertical-align: top;
}

.TableStyle-FieldDescriptions .FootI-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-FieldDescriptions .FootE-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-FieldDescriptions .FootE-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-FieldDescriptions .FootF-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-FieldDescriptions .FootF-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-FieldDescriptions .FootH-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-FieldDescriptions .FootH-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-FieldDescriptions .FootD-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-FieldDescriptions .FootD-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-FieldDescriptions .FootC-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	vertical-align: top;
}

.TableStyle-FieldDescriptions .FootC-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-FieldDescriptions .FootB-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-FieldDescriptions .FootB-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-FieldDescriptions .FootA-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	vertical-align: top;
}

.TableStyle-FieldDescriptions .FootA-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-FieldDescriptions .FootG-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	vertical-align: top;
}

.TableStyle-FieldDescriptions .FootG-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-FieldDescriptions .FootI-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: top;
}

.TableStyle-FieldDescriptions .FootI-Column2-Footer1 p
{
	
}

.TableStyle-FieldDescriptions .FootE-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-FieldDescriptions .FootE-Column2-Footer1 p
{
	
}

.TableStyle-FieldDescriptions .FootF-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-FieldDescriptions .FootF-Column2-Footer1 p
{
	
}

.TableStyle-FieldDescriptions .FootH-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-FieldDescriptions .FootH-Column2-Footer1 p
{
	
}

.TableStyle-FieldDescriptions .FootD-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-FieldDescriptions .FootD-Column2-Footer1 p
{
	
}

.TableStyle-FieldDescriptions .FootC-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: top;
}

.TableStyle-FieldDescriptions .FootC-Column2-Footer1 p
{
	
}

.TableStyle-FieldDescriptions .FootB-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-FieldDescriptions .FootB-Column2-Footer1 p
{
	
}

.TableStyle-FieldDescriptions .FootA-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: top;
}

.TableStyle-FieldDescriptions .FootA-Column2-Footer1 p
{
	
}

.TableStyle-FieldDescriptions .FootG-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: top;
}

.TableStyle-FieldDescriptions .FootG-Column2-Footer1 p
{
	
}

.TableStyle-FieldDescriptions .Body-Body1
{
	
}

.TableStyle-FieldDescriptions .BodyI-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	background-color: #ffffff;
	font-weight: bold;
	vertical-align: top;
}

.TableStyle-FieldDescriptions .BodyI-Column1-Body1 p
{
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-FieldDescriptions .BodyE-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	font-weight: bold;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-FieldDescriptions .BodyE-Column1-Body1 p
{
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-FieldDescriptions .BodyF-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	font-weight: bold;
	vertical-align: top;
}

.TableStyle-FieldDescriptions .BodyF-Column1-Body1 p
{
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-FieldDescriptions .BodyH-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	background-color: #ffffff;
	font-weight: bold;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-FieldDescriptions .BodyH-Column1-Body1 p
{
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-FieldDescriptions .BodyD-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	font-weight: bold;
	vertical-align: top;
}

.TableStyle-FieldDescriptions .BodyD-Column1-Body1 p
{
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-FieldDescriptions .BodyC-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	background-color: #ffffff;
	font-weight: bold;
	vertical-align: top;
}

.TableStyle-FieldDescriptions .BodyC-Column1-Body1 p
{
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-FieldDescriptions .BodyB-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	background-color: #ffffff;
	font-weight: bold;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-FieldDescriptions .BodyB-Column1-Body1 p
{
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-FieldDescriptions .BodyA-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	background-color: #ffffff;
	font-weight: bold;
	vertical-align: top;
}

.TableStyle-FieldDescriptions .BodyA-Column1-Body1 p
{
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-FieldDescriptions .BodyG-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	background-color: #ffffff;
	font-weight: bold;
	vertical-align: top;
}

.TableStyle-FieldDescriptions .BodyG-Column1-Body1 p
{
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-FieldDescriptions .BodyI-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	font-weight: normal;
	background-color: #ffffff;
	vertical-align: top;
}

.TableStyle-FieldDescriptions .BodyI-Column2-Body1 p
{
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-FieldDescriptions .BodyE-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	font-weight: normal;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-FieldDescriptions .BodyE-Column2-Body1 p
{
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-FieldDescriptions .BodyF-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	font-weight: normal;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	vertical-align: top;
}

.TableStyle-FieldDescriptions .BodyF-Column2-Body1 p
{
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-FieldDescriptions .BodyH-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	font-weight: normal;
	background-color: #ffffff;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-FieldDescriptions .BodyH-Column2-Body1 p
{
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-FieldDescriptions .BodyD-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	font-weight: normal;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	vertical-align: top;
}

.TableStyle-FieldDescriptions .BodyD-Column2-Body1 p
{
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-FieldDescriptions .BodyC-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	font-weight: normal;
	background-color: #ffffff;
	vertical-align: top;
}

.TableStyle-FieldDescriptions .BodyC-Column2-Body1 p
{
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-FieldDescriptions .BodyB-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	font-weight: normal;
	background-color: #ffffff;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-FieldDescriptions .BodyB-Column2-Body1 p
{
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-FieldDescriptions .BodyA-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	font-weight: normal;
	background-color: #ffffff;
	vertical-align: top;
}

.TableStyle-FieldDescriptions .BodyA-Column2-Body1 p
{
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-FieldDescriptions .BodyG-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	font-weight: normal;
	background-color: #ffffff;
	vertical-align: top;
}

.TableStyle-FieldDescriptions .BodyG-Column2-Body1 p
{
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-FieldDescriptions .Body-Body2
{
	
}

.TableStyle-FieldDescriptions .BodyI-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	background-color: #eeeeee;
	font-weight: bold;
	vertical-align: top;
}

.TableStyle-FieldDescriptions .BodyI-Column1-Body2 p
{
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-FieldDescriptions .BodyE-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	background-color: #eeeeee;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	font-weight: bold;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-FieldDescriptions .BodyE-Column1-Body2 p
{
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-FieldDescriptions .BodyF-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	background-color: #eeeeee;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	font-weight: bold;
	vertical-align: top;
}

.TableStyle-FieldDescriptions .BodyF-Column1-Body2 p
{
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-FieldDescriptions .BodyH-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	background-color: #eeeeee;
	font-weight: bold;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-FieldDescriptions .BodyH-Column1-Body2 p
{
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-FieldDescriptions .BodyD-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	background-color: #eeeeee;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	font-weight: bold;
	vertical-align: top;
}

.TableStyle-FieldDescriptions .BodyD-Column1-Body2 p
{
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-FieldDescriptions .BodyC-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	background-color: #eeeeee;
	font-weight: bold;
	vertical-align: top;
}

.TableStyle-FieldDescriptions .BodyC-Column1-Body2 p
{
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-FieldDescriptions .BodyB-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	background-color: #eeeeee;
	font-weight: bold;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-FieldDescriptions .BodyB-Column1-Body2 p
{
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-FieldDescriptions .BodyA-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	background-color: #eeeeee;
	font-weight: bold;
	vertical-align: top;
}

.TableStyle-FieldDescriptions .BodyA-Column1-Body2 p
{
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-FieldDescriptions .BodyG-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	background-color: #eeeeee;
	font-weight: bold;
	vertical-align: top;
}

.TableStyle-FieldDescriptions .BodyG-Column1-Body2 p
{
	font-size: 9pt;
	font-weight: bold;
}

.TableStyle-FieldDescriptions .BodyI-Column2-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	background-color: #eeeeee;
	vertical-align: top;
}

.TableStyle-FieldDescriptions .BodyI-Column2-Body2 p
{
	font-size: 9pt;
}

.TableStyle-FieldDescriptions .BodyE-Column2-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	background-color: #eeeeee;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-FieldDescriptions .BodyE-Column2-Body2 p
{
	font-size: 9pt;
}

.TableStyle-FieldDescriptions .BodyF-Column2-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	background-color: #eeeeee;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	vertical-align: top;
}

.TableStyle-FieldDescriptions .BodyF-Column2-Body2 p
{
	font-size: 9pt;
}

.TableStyle-FieldDescriptions .BodyH-Column2-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	background-color: #eeeeee;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-FieldDescriptions .BodyH-Column2-Body2 p
{
	font-size: 9pt;
}

.TableStyle-FieldDescriptions .BodyD-Column2-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	background-color: #eeeeee;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	vertical-align: top;
}

.TableStyle-FieldDescriptions .BodyD-Column2-Body2 p
{
	font-size: 9pt;
}

.TableStyle-FieldDescriptions .BodyC-Column2-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	background-color: #eeeeee;
	vertical-align: top;
}

.TableStyle-FieldDescriptions .BodyC-Column2-Body2 p
{
	font-size: 9pt;
}

.TableStyle-FieldDescriptions .BodyB-Column2-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	background-color: #eeeeee;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-FieldDescriptions .BodyB-Column2-Body2 p
{
	font-size: 9pt;
}

.TableStyle-FieldDescriptions .BodyA-Column2-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	background-color: #eeeeee;
	vertical-align: top;
}

.TableStyle-FieldDescriptions .BodyA-Column2-Body2 p
{
	font-size: 9pt;
}

.TableStyle-FieldDescriptions .BodyG-Column2-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	background-color: #eeeeee;
	vertical-align: top;
}

.TableStyle-FieldDescriptions .BodyG-Column2-Body2 p
{
	font-size: 9pt;
}


