/* MadCap Table Style: */

/*<meta Version="7" />*/

mcTableStyle
{
	name: GrayHeaderWithBorders;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #a9a9a9;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #a9a9a9;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	max-id: 3;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #a9a9a9;
	vertical-align: top;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #a9a9a9;
	text-align: center;
	background-color: #dcddde;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	font-size: 9pt;
	vertical-align: top;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #a9a9a9;
	name: Body1;
	id: 1;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-GrayHeaderWithBorders
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #a9a9a9;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #a9a9a9;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #a9a9a9;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #a9a9a9;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-GrayHeaderWithBorders .Column-Column1
{
	
}

.TableStyle-GrayHeaderWithBorders .Head-Header1
{
	
}

.TableStyle-GrayHeaderWithBorders .HeadI-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: top;
	text-align: center;
	background-color: #dcddde;
}

.TableStyle-GrayHeaderWithBorders .HeadI-Column1-Header1 p
{
	
}

.TableStyle-GrayHeaderWithBorders .HeadE-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	text-align: center;
	background-color: #dcddde;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-GrayHeaderWithBorders .HeadE-Column1-Header1 p
{
	
}

.TableStyle-GrayHeaderWithBorders .HeadF-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: top;
	text-align: center;
	background-color: #dcddde;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-GrayHeaderWithBorders .HeadF-Column1-Header1 p
{
	
}

.TableStyle-GrayHeaderWithBorders .HeadH-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	text-align: center;
	background-color: #dcddde;
}

.TableStyle-GrayHeaderWithBorders .HeadH-Column1-Header1 p
{
	
}

.TableStyle-GrayHeaderWithBorders .HeadD-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: top;
	text-align: center;
	background-color: #dcddde;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-GrayHeaderWithBorders .HeadD-Column1-Header1 p
{
	
}

.TableStyle-GrayHeaderWithBorders .HeadC-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: top;
	text-align: center;
	background-color: #dcddde;
}

.TableStyle-GrayHeaderWithBorders .HeadC-Column1-Header1 p
{
	
}

.TableStyle-GrayHeaderWithBorders .HeadB-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	text-align: center;
	background-color: #dcddde;
}

.TableStyle-GrayHeaderWithBorders .HeadB-Column1-Header1 p
{
	
}

.TableStyle-GrayHeaderWithBorders .HeadA-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: top;
	text-align: center;
	background-color: #dcddde;
}

.TableStyle-GrayHeaderWithBorders .HeadA-Column1-Header1 p
{
	
}

.TableStyle-GrayHeaderWithBorders .HeadG-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: top;
	text-align: center;
	background-color: #dcddde;
}

.TableStyle-GrayHeaderWithBorders .HeadG-Column1-Header1 p
{
	
}

.TableStyle-GrayHeaderWithBorders .Foot-Footer1
{
	
}

.TableStyle-GrayHeaderWithBorders .FootI-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: top;
}

.TableStyle-GrayHeaderWithBorders .FootI-Column1-Footer1 p
{
	
}

.TableStyle-GrayHeaderWithBorders .FootE-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-GrayHeaderWithBorders .FootE-Column1-Footer1 p
{
	
}

.TableStyle-GrayHeaderWithBorders .FootF-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-GrayHeaderWithBorders .FootF-Column1-Footer1 p
{
	
}

.TableStyle-GrayHeaderWithBorders .FootH-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-GrayHeaderWithBorders .FootH-Column1-Footer1 p
{
	
}

.TableStyle-GrayHeaderWithBorders .FootD-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-GrayHeaderWithBorders .FootD-Column1-Footer1 p
{
	
}

.TableStyle-GrayHeaderWithBorders .FootC-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: top;
}

.TableStyle-GrayHeaderWithBorders .FootC-Column1-Footer1 p
{
	
}

.TableStyle-GrayHeaderWithBorders .FootB-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-GrayHeaderWithBorders .FootB-Column1-Footer1 p
{
	
}

.TableStyle-GrayHeaderWithBorders .FootA-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: top;
}

.TableStyle-GrayHeaderWithBorders .FootA-Column1-Footer1 p
{
	
}

.TableStyle-GrayHeaderWithBorders .FootG-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: top;
}

.TableStyle-GrayHeaderWithBorders .FootG-Column1-Footer1 p
{
	
}

.TableStyle-GrayHeaderWithBorders .Body-Body1
{
	
}

.TableStyle-GrayHeaderWithBorders .BodyI-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	vertical-align: top;
}

.TableStyle-GrayHeaderWithBorders .BodyI-Column1-Body1 p
{
	font-size: 9pt;
}

.TableStyle-GrayHeaderWithBorders .BodyE-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-GrayHeaderWithBorders .BodyE-Column1-Body1 p
{
	font-size: 9pt;
}

.TableStyle-GrayHeaderWithBorders .BodyF-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	vertical-align: top;
}

.TableStyle-GrayHeaderWithBorders .BodyF-Column1-Body1 p
{
	font-size: 9pt;
}

.TableStyle-GrayHeaderWithBorders .BodyH-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-GrayHeaderWithBorders .BodyH-Column1-Body1 p
{
	font-size: 9pt;
}

.TableStyle-GrayHeaderWithBorders .BodyD-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	vertical-align: top;
}

.TableStyle-GrayHeaderWithBorders .BodyD-Column1-Body1 p
{
	font-size: 9pt;
}

.TableStyle-GrayHeaderWithBorders .BodyC-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	vertical-align: top;
}

.TableStyle-GrayHeaderWithBorders .BodyC-Column1-Body1 p
{
	font-size: 9pt;
}

.TableStyle-GrayHeaderWithBorders .BodyB-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-GrayHeaderWithBorders .BodyB-Column1-Body1 p
{
	font-size: 9pt;
}

.TableStyle-GrayHeaderWithBorders .BodyA-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	vertical-align: top;
}

.TableStyle-GrayHeaderWithBorders .BodyA-Column1-Body1 p
{
	font-size: 9pt;
}

.TableStyle-GrayHeaderWithBorders .BodyG-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	vertical-align: top;
}

.TableStyle-GrayHeaderWithBorders .BodyG-Column1-Body1 p
{
	font-size: 9pt;
}


