/* MadCap Table Style: */

/*<meta Version="7" />*/

mcTableStyle
{
	name: LandingPages;
	border-spacing-y: 0;
	border-spacing-x: 0;
	border-collapse: collapse;
	max-id: 1;
	cell-padding-bottom: 10px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
}


/* Cell Styles: */
 
.TableStyle-LandingPages
{
	border-collapse: collapse;
	border-spacing: 0px 0px;
}

.TableStyle-LandingPages .Column-Column1
{
	
}

.TableStyle-LandingPages .HeadI-Column1-
{
	padding-bottom: 10px;
}

.TableStyle-LandingPages .HeadI-Column1- p
{
	
}

.TableStyle-LandingPages .HeadE-Column1-
{
	padding-bottom: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-LandingPages .HeadE-Column1- p
{
	
}

.TableStyle-LandingPages .HeadF-Column1-
{
	padding-bottom: 10px;
}

.TableStyle-LandingPages .HeadF-Column1- p
{
	
}

.TableStyle-LandingPages .HeadH-Column1-
{
	padding-bottom: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-LandingPages .HeadH-Column1- p
{
	
}

.TableStyle-LandingPages .HeadD-Column1-
{
	padding-bottom: 10px;
}

.TableStyle-LandingPages .HeadD-Column1- p
{
	
}

.TableStyle-LandingPages .HeadC-Column1-
{
	padding-bottom: 10px;
}

.TableStyle-LandingPages .HeadC-Column1- p
{
	
}

.TableStyle-LandingPages .HeadB-Column1-
{
	padding-bottom: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-LandingPages .HeadB-Column1- p
{
	
}

.TableStyle-LandingPages .HeadA-Column1-
{
	padding-bottom: 10px;
}

.TableStyle-LandingPages .HeadA-Column1- p
{
	
}

.TableStyle-LandingPages .HeadG-Column1-
{
	padding-bottom: 10px;
}

.TableStyle-LandingPages .HeadG-Column1- p
{
	
}

.TableStyle-LandingPages .FootI-Column1-
{
	padding-bottom: 10px;
}

.TableStyle-LandingPages .FootI-Column1- p
{
	
}

.TableStyle-LandingPages .FootE-Column1-
{
	padding-bottom: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-LandingPages .FootE-Column1- p
{
	
}

.TableStyle-LandingPages .FootF-Column1-
{
	padding-bottom: 10px;
}

.TableStyle-LandingPages .FootF-Column1- p
{
	
}

.TableStyle-LandingPages .FootH-Column1-
{
	padding-bottom: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-LandingPages .FootH-Column1- p
{
	
}

.TableStyle-LandingPages .FootD-Column1-
{
	padding-bottom: 10px;
}

.TableStyle-LandingPages .FootD-Column1- p
{
	
}

.TableStyle-LandingPages .FootC-Column1-
{
	padding-bottom: 10px;
}

.TableStyle-LandingPages .FootC-Column1- p
{
	
}

.TableStyle-LandingPages .FootB-Column1-
{
	padding-bottom: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-LandingPages .FootB-Column1- p
{
	
}

.TableStyle-LandingPages .FootA-Column1-
{
	padding-bottom: 10px;
}

.TableStyle-LandingPages .FootA-Column1- p
{
	
}

.TableStyle-LandingPages .FootG-Column1-
{
	padding-bottom: 10px;
}

.TableStyle-LandingPages .FootG-Column1- p
{
	
}

.TableStyle-LandingPages .Body-Body1
{
	
}

.TableStyle-LandingPages .BodyI-Column1-Body1
{
	padding-bottom: 10px;
	font-weight: normal;
}

.TableStyle-LandingPages .BodyI-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-LandingPages .BodyE-Column1-Body1
{
	padding-bottom: 10px;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-LandingPages .BodyE-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-LandingPages .BodyF-Column1-Body1
{
	padding-bottom: 10px;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-LandingPages .BodyF-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-LandingPages .BodyH-Column1-Body1
{
	padding-bottom: 10px;
	font-weight: normal;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-LandingPages .BodyH-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-LandingPages .BodyD-Column1-Body1
{
	padding-bottom: 10px;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-LandingPages .BodyD-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-LandingPages .BodyC-Column1-Body1
{
	padding-bottom: 10px;
	font-weight: normal;
}

.TableStyle-LandingPages .BodyC-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-LandingPages .BodyB-Column1-Body1
{
	padding-bottom: 10px;
	font-weight: normal;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-LandingPages .BodyB-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-LandingPages .BodyA-Column1-Body1
{
	padding-bottom: 10px;
	font-weight: normal;
}

.TableStyle-LandingPages .BodyA-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-LandingPages .BodyG-Column1-Body1
{
	padding-bottom: 10px;
	font-weight: normal;
}

.TableStyle-LandingPages .BodyG-Column1-Body1 p
{
	font-weight: normal;
}


