/* MadCap Table Style: */

/*<meta Version="7" />*/

mcTableStyle
{
	name: LandingPageTable;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 0px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 0px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	max-id: 1;
	cell-padding-bottom: 10px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 0px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}

mcTableBodyStyle
{
	span: 1;
	vertical-align: top;
	text-align: left;
	name: Body1;
	id: 1;
}


/* Cell Styles: */
 
.TableStyle-LandingPageTable
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 0px;
	border-spacing: 0px 0px;
}

.TableStyle-LandingPageTable .Column-Column1
{
	
}

.TableStyle-LandingPageTable .HeadI-Column1-
{
	padding-bottom: 10px;
}

.TableStyle-LandingPageTable .HeadI-Column1- p
{
	
}

.TableStyle-LandingPageTable .HeadE-Column1-
{
	padding-bottom: 10px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-LandingPageTable .HeadE-Column1- p
{
	
}

.TableStyle-LandingPageTable .HeadF-Column1-
{
	padding-bottom: 10px;
}

.TableStyle-LandingPageTable .HeadF-Column1- p
{
	
}

.TableStyle-LandingPageTable .HeadH-Column1-
{
	padding-bottom: 10px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-LandingPageTable .HeadH-Column1- p
{
	
}

.TableStyle-LandingPageTable .HeadD-Column1-
{
	padding-bottom: 10px;
}

.TableStyle-LandingPageTable .HeadD-Column1- p
{
	
}

.TableStyle-LandingPageTable .HeadC-Column1-
{
	padding-bottom: 10px;
}

.TableStyle-LandingPageTable .HeadC-Column1- p
{
	
}

.TableStyle-LandingPageTable .HeadB-Column1-
{
	padding-bottom: 10px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-LandingPageTable .HeadB-Column1- p
{
	
}

.TableStyle-LandingPageTable .HeadA-Column1-
{
	padding-bottom: 10px;
}

.TableStyle-LandingPageTable .HeadA-Column1- p
{
	
}

.TableStyle-LandingPageTable .HeadG-Column1-
{
	padding-bottom: 10px;
}

.TableStyle-LandingPageTable .HeadG-Column1- p
{
	
}

.TableStyle-LandingPageTable .FootI-Column1-
{
	padding-bottom: 10px;
}

.TableStyle-LandingPageTable .FootI-Column1- p
{
	
}

.TableStyle-LandingPageTable .FootE-Column1-
{
	padding-bottom: 10px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-LandingPageTable .FootE-Column1- p
{
	
}

.TableStyle-LandingPageTable .FootF-Column1-
{
	padding-bottom: 10px;
}

.TableStyle-LandingPageTable .FootF-Column1- p
{
	
}

.TableStyle-LandingPageTable .FootH-Column1-
{
	padding-bottom: 10px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-LandingPageTable .FootH-Column1- p
{
	
}

.TableStyle-LandingPageTable .FootD-Column1-
{
	padding-bottom: 10px;
}

.TableStyle-LandingPageTable .FootD-Column1- p
{
	
}

.TableStyle-LandingPageTable .FootC-Column1-
{
	padding-bottom: 10px;
}

.TableStyle-LandingPageTable .FootC-Column1- p
{
	
}

.TableStyle-LandingPageTable .FootB-Column1-
{
	padding-bottom: 10px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-LandingPageTable .FootB-Column1- p
{
	
}

.TableStyle-LandingPageTable .FootA-Column1-
{
	padding-bottom: 10px;
}

.TableStyle-LandingPageTable .FootA-Column1- p
{
	
}

.TableStyle-LandingPageTable .FootG-Column1-
{
	padding-bottom: 10px;
}

.TableStyle-LandingPageTable .FootG-Column1- p
{
	
}

.TableStyle-LandingPageTable .Body-Body1
{
	
}

.TableStyle-LandingPageTable .BodyI-Column1-Body1
{
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-LandingPageTable .BodyI-Column1-Body1 p
{
	
}

.TableStyle-LandingPageTable .BodyE-Column1-Body1
{
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-LandingPageTable .BodyE-Column1-Body1 p
{
	
}

.TableStyle-LandingPageTable .BodyF-Column1-Body1
{
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-LandingPageTable .BodyF-Column1-Body1 p
{
	
}

.TableStyle-LandingPageTable .BodyH-Column1-Body1
{
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-LandingPageTable .BodyH-Column1-Body1 p
{
	
}

.TableStyle-LandingPageTable .BodyD-Column1-Body1
{
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-LandingPageTable .BodyD-Column1-Body1 p
{
	
}

.TableStyle-LandingPageTable .BodyC-Column1-Body1
{
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-LandingPageTable .BodyC-Column1-Body1 p
{
	
}

.TableStyle-LandingPageTable .BodyB-Column1-Body1
{
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-LandingPageTable .BodyB-Column1-Body1 p
{
	
}

.TableStyle-LandingPageTable .BodyA-Column1-Body1
{
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-LandingPageTable .BodyA-Column1-Body1 p
{
	
}

.TableStyle-LandingPageTable .BodyG-Column1-Body1
{
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-LandingPageTable .BodyG-Column1-Body1 p
{
	
}


