/* MadCap Table Style: */

/*<meta />*/

mcTableStyle {
	name: No Borders; 
	border-collapse: collapse; 
	border-left-style: solid; 
	border-left-width: 1px; 
	border-left-color: #ffffe0; 
	border-right-style: solid; 
	border-right-width: 1px; 
	border-right-color: #ffffe0; 
	border-top-style: solid; 
	border-top-width: 1px; 
	border-top-color: #ffffe0; 
	border-bottom-style: solid; 
	border-bottom-width: 1px; 
	border-bottom-color: #ffffe0; 
}

mcTableColumnStyle {
	span: 1; 
	separator-style: none; 
	separator-width: 1px; 
	separator-color: #fffff0; 
}

mcTableHeadStyle {
	span: 1; 
	separator-style: none; 
	separator-width: 1px; 
	separator-color: #fffff0; 
}

mcTableBodyStyle {
	span: 1; 
	font-weight: normal; 
	separator-style: none; 
	separator-width: 1px; 
	separator-color: #ffffff; 
}

mcTableFootStyle {
	span: 1; 
	separator-style: none; 
	separator-width: 1px; 
	separator-color: #fffff0; 
}

 
 
/* Cell Styles: */
 
.TableStyle_No_Borders
{
	border-left-style: solid;
	border-left-color: #ffffe0;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #ffffe0;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #ffffe0;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ffffe0;
	border-bottom-width: 1px;
	border-collapse: collapse;
	border-spacing: 0px 0px;
	mc-cell-padding: 0px 0px 0px 0px;
}

.TableStyle_No_Borders_Head_0_0
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_No_Borders_Head_0_0 p
{
	
}

.TableStyle_No_Borders_Head_0_0_RowSep_ColSep
{
	border-bottom-width: 1px;
	border-bottom-color: #fffff0;
	border-bottom-style: none;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #fffff0;
	border-right-style: none;
}

.TableStyle_No_Borders_Head_0_0_RowSep_ColSep p
{
	
}

.TableStyle_No_Borders_Head_0_0_RowSep
{
	border-bottom-width: 1px;
	border-bottom-color: #fffff0;
	border-bottom-style: none;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_No_Borders_Head_0_0_RowSep p
{
	
}

.TableStyle_No_Borders_Head_0_0_ColSep
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #fffff0;
	border-right-style: none;
}

.TableStyle_No_Borders_Head_0_0_ColSep p
{
	
}

.TableStyle_No_Borders_Head_0_0_RowSep_ColEnd
{
	border-bottom-width: 1px;
	border-bottom-color: #fffff0;
	border-bottom-style: none;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_No_Borders_Head_0_0_RowSep_ColEnd p
{
	
}

.TableStyle_No_Borders_Head_0_0_RowEnd
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_No_Borders_Head_0_0_RowEnd p
{
	
}

.TableStyle_No_Borders_Head_0_0_RowEnd_ColSep
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #fffff0;
	border-right-style: none;
}

.TableStyle_No_Borders_Head_0_0_RowEnd_ColSep p
{
	
}

.TableStyle_No_Borders_Head_0_0_RowEnd_ColEnd
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_No_Borders_Head_0_0_RowEnd_ColEnd p
{
	
}

.TableStyle_No_Borders_Head_0_0_ColEnd
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_No_Borders_Head_0_0_ColEnd p
{
	
}

.TableStyle_No_Borders_Body_0_0
{
	font-weight: normal;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_No_Borders_Body_0_0 p
{
	font-weight: normal;
}

.TableStyle_No_Borders_Body_0_0_RowSep_ColSep
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: none;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #fffff0;
	border-right-style: none;
}

.TableStyle_No_Borders_Body_0_0_RowSep_ColSep p
{
	font-weight: normal;
}

.TableStyle_No_Borders_Body_0_0_RowSep
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: none;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_No_Borders_Body_0_0_RowSep p
{
	font-weight: normal;
}

.TableStyle_No_Borders_Body_0_0_ColSep
{
	font-weight: normal;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #fffff0;
	border-right-style: none;
}

.TableStyle_No_Borders_Body_0_0_ColSep p
{
	font-weight: normal;
}

.TableStyle_No_Borders_Body_0_0_RowSep_ColEnd
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: none;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_No_Borders_Body_0_0_RowSep_ColEnd p
{
	font-weight: normal;
}

.TableStyle_No_Borders_Body_0_0_RowEnd
{
	font-weight: normal;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_No_Borders_Body_0_0_RowEnd p
{
	font-weight: normal;
}

.TableStyle_No_Borders_Body_0_0_RowEnd_ColSep
{
	font-weight: normal;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #fffff0;
	border-right-style: none;
}

.TableStyle_No_Borders_Body_0_0_RowEnd_ColSep p
{
	font-weight: normal;
}

.TableStyle_No_Borders_Body_0_0_RowEnd_ColEnd
{
	font-weight: normal;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_No_Borders_Body_0_0_RowEnd_ColEnd p
{
	font-weight: normal;
}

.TableStyle_No_Borders_Body_0_0_ColEnd
{
	font-weight: normal;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_No_Borders_Body_0_0_ColEnd p
{
	font-weight: normal;
}

.TableStyle_No_Borders_Foot_0_0
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_No_Borders_Foot_0_0 p
{
	
}

.TableStyle_No_Borders_Foot_0_0_RowSep_ColSep
{
	border-top-width: 1px;
	border-top-color: #fffff0;
	border-top-style: none;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #fffff0;
	border-right-style: none;
}

.TableStyle_No_Borders_Foot_0_0_RowSep_ColSep p
{
	
}

.TableStyle_No_Borders_Foot_0_0_RowSep
{
	border-top-width: 1px;
	border-top-color: #fffff0;
	border-top-style: none;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_No_Borders_Foot_0_0_RowSep p
{
	
}

.TableStyle_No_Borders_Foot_0_0_ColSep
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #fffff0;
	border-right-style: none;
}

.TableStyle_No_Borders_Foot_0_0_ColSep p
{
	
}

.TableStyle_No_Borders_Foot_0_0_RowSep_ColEnd
{
	border-top-width: 1px;
	border-top-color: #fffff0;
	border-top-style: none;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_No_Borders_Foot_0_0_RowSep_ColEnd p
{
	
}

.TableStyle_No_Borders_Foot_0_0_RowEnd
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_No_Borders_Foot_0_0_RowEnd p
{
	
}

.TableStyle_No_Borders_Foot_0_0_RowEnd_ColSep
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #fffff0;
	border-right-style: none;
}

.TableStyle_No_Borders_Foot_0_0_RowEnd_ColSep p
{
	
}

.TableStyle_No_Borders_Foot_0_0_RowEnd_ColEnd
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_No_Borders_Foot_0_0_RowEnd_ColEnd p
{
	
}

.TableStyle_No_Borders_Foot_0_0_ColEnd
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_No_Borders_Foot_0_0_ColEnd p
{
	
}


