/* MadCap Table Style: */

/*<meta />*/

mcTableStyle {
	name: NoBorders; 
	border-spacing-y: 0; 
	border-spacing-x: 0; 
	border-collapse: collapse; 
	border-left-style: none; 
	border-left-width: ; 
	border-left-color: ; 
	border-right-style: none; 
	border-right-width: ; 
	border-right-color: ; 
	border-top-style: none; 
	border-top-width: ; 
	border-top-color: ; 
	border-bottom-style: none; 
	border-bottom-width: ; 
	border-bottom-color: ; 
}

mcTableColumnStyle {
	span: 1; 
	separator-style: none; 
	separator-width: 1px; 
}

mcTableBodyStyle {
	span: 1; 
	font-size: 9pt; 
}

 
 
/* Cell Styles: */
 
.TableStyle_NoBorders
{
	border-left-style: none;
	border-left-color: ;
	border-left-width: ;
	border-right-style: none;
	border-right-color: ;
	border-right-width: ;
	border-top-style: none;
	border-top-color: ;
	border-top-width: ;
	border-bottom-style: none;
	border-bottom-color: ;
	border-bottom-width: ;
	border-collapse: collapse;
	border-spacing: 0px 0px;
	mc-cell-padding: 0px 0px 0px 0px;
}

.TableStyle_NoBorders_Body_0_0
{
	font-size: 9pt;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_NoBorders_Body_0_0 p
{
	font-size: 9pt;
}

.TableStyle_NoBorders_Body_0_0_RowSep_ColSep
{
	font-size: 9pt;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-style: none;
}

.TableStyle_NoBorders_Body_0_0_RowSep_ColSep p
{
	font-size: 9pt;
}

.TableStyle_NoBorders_Body_0_0_RowSep
{
	font-size: 9pt;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_NoBorders_Body_0_0_RowSep p
{
	font-size: 9pt;
}

.TableStyle_NoBorders_Body_0_0_ColSep
{
	font-size: 9pt;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-style: none;
}

.TableStyle_NoBorders_Body_0_0_ColSep p
{
	font-size: 9pt;
}

.TableStyle_NoBorders_Body_0_0_RowSep_ColEnd
{
	font-size: 9pt;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_NoBorders_Body_0_0_RowSep_ColEnd p
{
	font-size: 9pt;
}

.TableStyle_NoBorders_Body_0_0_RowEnd
{
	font-size: 9pt;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_NoBorders_Body_0_0_RowEnd p
{
	font-size: 9pt;
}

.TableStyle_NoBorders_Body_0_0_RowEnd_ColSep
{
	font-size: 9pt;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-style: none;
}

.TableStyle_NoBorders_Body_0_0_RowEnd_ColSep p
{
	font-size: 9pt;
}

.TableStyle_NoBorders_Body_0_0_RowEnd_ColEnd
{
	font-size: 9pt;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_NoBorders_Body_0_0_RowEnd_ColEnd p
{
	font-size: 9pt;
}

.TableStyle_NoBorders_Body_0_0_ColEnd
{
	font-size: 9pt;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_NoBorders_Body_0_0_ColEnd p
{
	font-size: 9pt;
}


