/* MadCap Table Style: */

/*<meta Version="7" />*/

mcTableStyle
{
	name: Note Table;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 0px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 0px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-spacing-y: 0;
	max-id: 4;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	vertical-align: top;
	text-align: left;
	name: Column1;
	id: 0;
}

mcTableColumnStyle
{
	span: 1;
	text-align: left;
	font-size: 9pt;
	name: Column2;
	id: 1;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 2;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
.TableStyle-Note_Table
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 0px;
	border-spacing: 0px 0px;
}

.TableStyle-Note_Table .Column-Column1
{
	
}

.TableStyle-Note_Table .Column-Column2
{
	
}

.TableStyle-Note_Table .Head-Header1
{
	
}

.TableStyle-Note_Table .HeadI-Column1-Header1
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note_Table .HeadI-Column1-Header1 p
{
	
}

.TableStyle-Note_Table .HeadE-Column1-Header1
{
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Note_Table .HeadE-Column1-Header1 p
{
	
}

.TableStyle-Note_Table .HeadF-Column1-Header1
{
	text-align: left;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Note_Table .HeadF-Column1-Header1 p
{
	
}

.TableStyle-Note_Table .HeadH-Column1-Header1
{
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Note_Table .HeadH-Column1-Header1 p
{
	
}

.TableStyle-Note_Table .HeadD-Column1-Header1
{
	text-align: left;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Note_Table .HeadD-Column1-Header1 p
{
	
}

.TableStyle-Note_Table .HeadC-Column1-Header1
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note_Table .HeadC-Column1-Header1 p
{
	
}

.TableStyle-Note_Table .HeadB-Column1-Header1
{
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Note_Table .HeadB-Column1-Header1 p
{
	
}

.TableStyle-Note_Table .HeadA-Column1-Header1
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note_Table .HeadA-Column1-Header1 p
{
	
}

.TableStyle-Note_Table .HeadG-Column1-Header1
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note_Table .HeadG-Column1-Header1 p
{
	
}

.TableStyle-Note_Table .HeadI-Column2-Header1
{
	font-size: 9pt;
	text-align: left;
}

.TableStyle-Note_Table .HeadI-Column2-Header1 p
{
	font-size: 9pt;
}

.TableStyle-Note_Table .HeadE-Column2-Header1
{
	font-size: 9pt;
	text-align: left;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Note_Table .HeadE-Column2-Header1 p
{
	font-size: 9pt;
}

.TableStyle-Note_Table .HeadF-Column2-Header1
{
	font-size: 9pt;
	text-align: left;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Note_Table .HeadF-Column2-Header1 p
{
	font-size: 9pt;
}

.TableStyle-Note_Table .HeadH-Column2-Header1
{
	font-size: 9pt;
	text-align: left;
}

.TableStyle-Note_Table .HeadH-Column2-Header1 p
{
	font-size: 9pt;
}

.TableStyle-Note_Table .HeadD-Column2-Header1
{
	font-size: 9pt;
	text-align: left;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Note_Table .HeadD-Column2-Header1 p
{
	font-size: 9pt;
}

.TableStyle-Note_Table .HeadC-Column2-Header1
{
	font-size: 9pt;
	text-align: left;
}

.TableStyle-Note_Table .HeadC-Column2-Header1 p
{
	font-size: 9pt;
}

.TableStyle-Note_Table .HeadB-Column2-Header1
{
	font-size: 9pt;
	text-align: left;
}

.TableStyle-Note_Table .HeadB-Column2-Header1 p
{
	font-size: 9pt;
}

.TableStyle-Note_Table .HeadA-Column2-Header1
{
	font-size: 9pt;
	text-align: left;
}

.TableStyle-Note_Table .HeadA-Column2-Header1 p
{
	font-size: 9pt;
}

.TableStyle-Note_Table .HeadG-Column2-Header1
{
	font-size: 9pt;
	text-align: left;
}

.TableStyle-Note_Table .HeadG-Column2-Header1 p
{
	font-size: 9pt;
}

.TableStyle-Note_Table .Foot-Footer1
{
	
}

.TableStyle-Note_Table .FootI-Column1-Footer1
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note_Table .FootI-Column1-Footer1 p
{
	
}

.TableStyle-Note_Table .FootE-Column1-Footer1
{
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Note_Table .FootE-Column1-Footer1 p
{
	
}

.TableStyle-Note_Table .FootF-Column1-Footer1
{
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Note_Table .FootF-Column1-Footer1 p
{
	
}

.TableStyle-Note_Table .FootH-Column1-Footer1
{
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Note_Table .FootH-Column1-Footer1 p
{
	
}

.TableStyle-Note_Table .FootD-Column1-Footer1
{
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Note_Table .FootD-Column1-Footer1 p
{
	
}

.TableStyle-Note_Table .FootC-Column1-Footer1
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note_Table .FootC-Column1-Footer1 p
{
	
}

.TableStyle-Note_Table .FootB-Column1-Footer1
{
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Note_Table .FootB-Column1-Footer1 p
{
	
}

.TableStyle-Note_Table .FootA-Column1-Footer1
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note_Table .FootA-Column1-Footer1 p
{
	
}

.TableStyle-Note_Table .FootG-Column1-Footer1
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note_Table .FootG-Column1-Footer1 p
{
	
}

.TableStyle-Note_Table .FootI-Column2-Footer1
{
	font-size: 9pt;
	text-align: left;
}

.TableStyle-Note_Table .FootI-Column2-Footer1 p
{
	font-size: 9pt;
}

.TableStyle-Note_Table .FootE-Column2-Footer1
{
	font-size: 9pt;
	text-align: left;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Note_Table .FootE-Column2-Footer1 p
{
	font-size: 9pt;
}

.TableStyle-Note_Table .FootF-Column2-Footer1
{
	font-size: 9pt;
	text-align: left;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Note_Table .FootF-Column2-Footer1 p
{
	font-size: 9pt;
}

.TableStyle-Note_Table .FootH-Column2-Footer1
{
	font-size: 9pt;
	text-align: left;
}

.TableStyle-Note_Table .FootH-Column2-Footer1 p
{
	font-size: 9pt;
}

.TableStyle-Note_Table .FootD-Column2-Footer1
{
	font-size: 9pt;
	text-align: left;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Note_Table .FootD-Column2-Footer1 p
{
	font-size: 9pt;
}

.TableStyle-Note_Table .FootC-Column2-Footer1
{
	font-size: 9pt;
	text-align: left;
}

.TableStyle-Note_Table .FootC-Column2-Footer1 p
{
	font-size: 9pt;
}

.TableStyle-Note_Table .FootB-Column2-Footer1
{
	font-size: 9pt;
	text-align: left;
}

.TableStyle-Note_Table .FootB-Column2-Footer1 p
{
	font-size: 9pt;
}

.TableStyle-Note_Table .FootA-Column2-Footer1
{
	font-size: 9pt;
	text-align: left;
}

.TableStyle-Note_Table .FootA-Column2-Footer1 p
{
	font-size: 9pt;
}

.TableStyle-Note_Table .FootG-Column2-Footer1
{
	font-size: 9pt;
	text-align: left;
}

.TableStyle-Note_Table .FootG-Column2-Footer1 p
{
	font-size: 9pt;
}

.TableStyle-Note_Table .Body-Body1
{
	
}

.TableStyle-Note_Table .BodyI-Column1-Body1
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note_Table .BodyI-Column1-Body1 p
{
	
}

.TableStyle-Note_Table .BodyE-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Note_Table .BodyE-Column1-Body1 p
{
	
}

.TableStyle-Note_Table .BodyF-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note_Table .BodyF-Column1-Body1 p
{
	
}

.TableStyle-Note_Table .BodyH-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Note_Table .BodyH-Column1-Body1 p
{
	
}

.TableStyle-Note_Table .BodyD-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note_Table .BodyD-Column1-Body1 p
{
	
}

.TableStyle-Note_Table .BodyC-Column1-Body1
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note_Table .BodyC-Column1-Body1 p
{
	
}

.TableStyle-Note_Table .BodyB-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Note_Table .BodyB-Column1-Body1 p
{
	
}

.TableStyle-Note_Table .BodyA-Column1-Body1
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note_Table .BodyA-Column1-Body1 p
{
	
}

.TableStyle-Note_Table .BodyG-Column1-Body1
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note_Table .BodyG-Column1-Body1 p
{
	
}

.TableStyle-Note_Table .BodyI-Column2-Body1
{
	font-size: 9pt;
	text-align: left;
}

.TableStyle-Note_Table .BodyI-Column2-Body1 p
{
	font-size: 9pt;
}

.TableStyle-Note_Table .BodyE-Column2-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-size: 9pt;
	text-align: left;
}

.TableStyle-Note_Table .BodyE-Column2-Body1 p
{
	font-size: 9pt;
}

.TableStyle-Note_Table .BodyF-Column2-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-size: 9pt;
	text-align: left;
}

.TableStyle-Note_Table .BodyF-Column2-Body1 p
{
	font-size: 9pt;
}

.TableStyle-Note_Table .BodyH-Column2-Body1
{
	font-size: 9pt;
	text-align: left;
}

.TableStyle-Note_Table .BodyH-Column2-Body1 p
{
	font-size: 9pt;
}

.TableStyle-Note_Table .BodyD-Column2-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-size: 9pt;
	text-align: left;
}

.TableStyle-Note_Table .BodyD-Column2-Body1 p
{
	font-size: 9pt;
}

.TableStyle-Note_Table .BodyC-Column2-Body1
{
	font-size: 9pt;
	text-align: left;
}

.TableStyle-Note_Table .BodyC-Column2-Body1 p
{
	font-size: 9pt;
}

.TableStyle-Note_Table .BodyB-Column2-Body1
{
	font-size: 9pt;
	text-align: left;
}

.TableStyle-Note_Table .BodyB-Column2-Body1 p
{
	font-size: 9pt;
}

.TableStyle-Note_Table .BodyA-Column2-Body1
{
	font-size: 9pt;
	text-align: left;
}

.TableStyle-Note_Table .BodyA-Column2-Body1 p
{
	font-size: 9pt;
}

.TableStyle-Note_Table .BodyG-Column2-Body1
{
	font-size: 9pt;
	text-align: left;
}

.TableStyle-Note_Table .BodyG-Column2-Body1 p
{
	font-size: 9pt;
}


