/* MadCap Table Style: */

/*<meta Version="7" />*/

mcTableStyle
{
	name: Rows;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #a9a9a9;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #a9a9a9;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	max-id: 4;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #a9a9a9;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #a9a9a9;
	background-color: #d3d3d3;
	font-family: Tahoma;
	font-size: 11pt;
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #a9a9a9;
	background-color: #ffffff;
	font-size: 9pt;
	vertical-align: top;
	name: Body1;
	id: 1;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #a9a9a9;
	font-size: 9pt;
	vertical-align: top;
	background-color: #eeeeee;
	name: Body2;
	id: 2;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #000000;
	background-color: #c0c0c0;
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
.TableStyle-Rows
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #a9a9a9;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #a9a9a9;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #a9a9a9;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #a9a9a9;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-Rows .Column-Column1
{
	
}

.TableStyle-Rows .Head-Header1
{
	
}

.TableStyle-Rows .HeadI-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Tahoma;
	font-size: 11pt;
	background-color: #d3d3d3;
}

.TableStyle-Rows .HeadI-Column1-Header1 p
{
	font-family: Tahoma;
	font-size: 11pt;
}

.TableStyle-Rows .HeadE-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	font-family: Tahoma;
	font-size: 11pt;
	background-color: #d3d3d3;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-Rows .HeadE-Column1-Header1 p
{
	font-family: Tahoma;
	font-size: 11pt;
}

.TableStyle-Rows .HeadF-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Tahoma;
	font-size: 11pt;
	background-color: #d3d3d3;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-Rows .HeadF-Column1-Header1 p
{
	font-family: Tahoma;
	font-size: 11pt;
}

.TableStyle-Rows .HeadH-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	font-family: Tahoma;
	font-size: 11pt;
	background-color: #d3d3d3;
}

.TableStyle-Rows .HeadH-Column1-Header1 p
{
	font-family: Tahoma;
	font-size: 11pt;
}

.TableStyle-Rows .HeadD-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Tahoma;
	font-size: 11pt;
	background-color: #d3d3d3;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-Rows .HeadD-Column1-Header1 p
{
	font-family: Tahoma;
	font-size: 11pt;
}

.TableStyle-Rows .HeadC-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Tahoma;
	font-size: 11pt;
	background-color: #d3d3d3;
}

.TableStyle-Rows .HeadC-Column1-Header1 p
{
	font-family: Tahoma;
	font-size: 11pt;
}

.TableStyle-Rows .HeadB-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	font-family: Tahoma;
	font-size: 11pt;
	background-color: #d3d3d3;
}

.TableStyle-Rows .HeadB-Column1-Header1 p
{
	font-family: Tahoma;
	font-size: 11pt;
}

.TableStyle-Rows .HeadA-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Tahoma;
	font-size: 11pt;
	background-color: #d3d3d3;
}

.TableStyle-Rows .HeadA-Column1-Header1 p
{
	font-family: Tahoma;
	font-size: 11pt;
}

.TableStyle-Rows .HeadG-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Tahoma;
	font-size: 11pt;
	background-color: #d3d3d3;
}

.TableStyle-Rows .HeadG-Column1-Header1 p
{
	font-family: Tahoma;
	font-size: 11pt;
}

.TableStyle-Rows .Foot-Footer1
{
	
}

.TableStyle-Rows .FootI-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #c0c0c0;
}

.TableStyle-Rows .FootI-Column1-Footer1 p
{
	
}

.TableStyle-Rows .FootE-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Rows .FootE-Column1-Footer1 p
{
	
}

.TableStyle-Rows .FootF-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Rows .FootF-Column1-Footer1 p
{
	
}

.TableStyle-Rows .FootH-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	background-color: #c0c0c0;
}

.TableStyle-Rows .FootH-Column1-Footer1 p
{
	
}

.TableStyle-Rows .FootD-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Rows .FootD-Column1-Footer1 p
{
	
}

.TableStyle-Rows .FootC-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #c0c0c0;
}

.TableStyle-Rows .FootC-Column1-Footer1 p
{
	
}

.TableStyle-Rows .FootB-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	background-color: #c0c0c0;
}

.TableStyle-Rows .FootB-Column1-Footer1 p
{
	
}

.TableStyle-Rows .FootA-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #c0c0c0;
}

.TableStyle-Rows .FootA-Column1-Footer1 p
{
	
}

.TableStyle-Rows .FootG-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #c0c0c0;
}

.TableStyle-Rows .FootG-Column1-Footer1 p
{
	
}

.TableStyle-Rows .Body-Body1
{
	
}

.TableStyle-Rows .BodyI-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	font-weight: normal;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-Rows .BodyI-Column1-Body1 p
{
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-Rows .BodyE-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	font-weight: normal;
	vertical-align: top;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Rows .BodyE-Column1-Body1 p
{
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-Rows .BodyF-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	font-weight: normal;
	vertical-align: top;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-Rows .BodyF-Column1-Body1 p
{
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-Rows .BodyH-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	font-weight: normal;
	vertical-align: top;
	background-color: #ffffff;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Rows .BodyH-Column1-Body1 p
{
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-Rows .BodyD-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	font-weight: normal;
	vertical-align: top;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-Rows .BodyD-Column1-Body1 p
{
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-Rows .BodyC-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	font-weight: normal;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-Rows .BodyC-Column1-Body1 p
{
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-Rows .BodyB-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	font-weight: normal;
	vertical-align: top;
	background-color: #ffffff;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Rows .BodyB-Column1-Body1 p
{
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-Rows .BodyA-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	font-weight: normal;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-Rows .BodyA-Column1-Body1 p
{
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-Rows .BodyG-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	font-weight: normal;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-Rows .BodyG-Column1-Body1 p
{
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-Rows .Body-Body2
{
	
}

.TableStyle-Rows .BodyI-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	vertical-align: top;
	background-color: #eeeeee;
}

.TableStyle-Rows .BodyI-Column1-Body2 p
{
	font-size: 9pt;
}

.TableStyle-Rows .BodyE-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	vertical-align: top;
	background-color: #eeeeee;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Rows .BodyE-Column1-Body2 p
{
	font-size: 9pt;
}

.TableStyle-Rows .BodyF-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	vertical-align: top;
	background-color: #eeeeee;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-Rows .BodyF-Column1-Body2 p
{
	font-size: 9pt;
}

.TableStyle-Rows .BodyH-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	vertical-align: top;
	background-color: #eeeeee;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Rows .BodyH-Column1-Body2 p
{
	font-size: 9pt;
}

.TableStyle-Rows .BodyD-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	vertical-align: top;
	background-color: #eeeeee;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-Rows .BodyD-Column1-Body2 p
{
	font-size: 9pt;
}

.TableStyle-Rows .BodyC-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	vertical-align: top;
	background-color: #eeeeee;
}

.TableStyle-Rows .BodyC-Column1-Body2 p
{
	font-size: 9pt;
}

.TableStyle-Rows .BodyB-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	vertical-align: top;
	background-color: #eeeeee;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Rows .BodyB-Column1-Body2 p
{
	font-size: 9pt;
}

.TableStyle-Rows .BodyA-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	vertical-align: top;
	background-color: #eeeeee;
}

.TableStyle-Rows .BodyA-Column1-Body2 p
{
	font-size: 9pt;
}

.TableStyle-Rows .BodyG-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	vertical-align: top;
	background-color: #eeeeee;
}

.TableStyle-Rows .BodyG-Column1-Body2 p
{
	font-size: 9pt;
}


