/* MadCap Table Style: */

/*<meta Version="7" />*/

mcTableStyle
{
	name: TopicList;
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: none;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: none;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	border-spacing-x: 0;
	border-spacing-y: 0;
	max-id: 4;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	background-color: #d3d3d3;
	font-size: 11pt;
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	font-size: 9pt;
	background-color: #eeeeee;
	name: Body1;
	id: 1;
}

mcTableBodyStyle
{
	span: 1;
	background-color: #fffff0;
	separator-style: none;
	separator-width: 1px;
	font-size: 9pt;
	font-family: Tahoma;
	name: Body2;
	id: 2;
}

mcTableFootStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
.TableStyle-TopicList
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: none;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: none;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-TopicList .Column-Column1
{
	
}

.TableStyle-TopicList .Head-Header1
{
	
}

.TableStyle-TopicList .HeadI-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 11pt;
	background-color: #d3d3d3;
}

.TableStyle-TopicList .HeadI-Column1-Header1 p
{
	font-size: 11pt;
}

.TableStyle-TopicList .HeadE-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	font-size: 11pt;
	background-color: #d3d3d3;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-TopicList .HeadE-Column1-Header1 p
{
	font-size: 11pt;
}

.TableStyle-TopicList .HeadF-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 11pt;
	background-color: #d3d3d3;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-TopicList .HeadF-Column1-Header1 p
{
	font-size: 11pt;
}

.TableStyle-TopicList .HeadH-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	font-size: 11pt;
	background-color: #d3d3d3;
}

.TableStyle-TopicList .HeadH-Column1-Header1 p
{
	font-size: 11pt;
}

.TableStyle-TopicList .HeadD-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 11pt;
	background-color: #d3d3d3;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-TopicList .HeadD-Column1-Header1 p
{
	font-size: 11pt;
}

.TableStyle-TopicList .HeadC-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 11pt;
	background-color: #d3d3d3;
}

.TableStyle-TopicList .HeadC-Column1-Header1 p
{
	font-size: 11pt;
}

.TableStyle-TopicList .HeadB-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	font-size: 11pt;
	background-color: #d3d3d3;
}

.TableStyle-TopicList .HeadB-Column1-Header1 p
{
	font-size: 11pt;
}

.TableStyle-TopicList .HeadA-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 11pt;
	background-color: #d3d3d3;
}

.TableStyle-TopicList .HeadA-Column1-Header1 p
{
	font-size: 11pt;
}

.TableStyle-TopicList .HeadG-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 11pt;
	background-color: #d3d3d3;
}

.TableStyle-TopicList .HeadG-Column1-Header1 p
{
	font-size: 11pt;
}

.TableStyle-TopicList .Foot-Footer1
{
	
}

.TableStyle-TopicList .FootI-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-TopicList .FootI-Column1-Footer1 p
{
	
}

.TableStyle-TopicList .FootE-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-TopicList .FootE-Column1-Footer1 p
{
	
}

.TableStyle-TopicList .FootF-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-TopicList .FootF-Column1-Footer1 p
{
	
}

.TableStyle-TopicList .FootH-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-TopicList .FootH-Column1-Footer1 p
{
	
}

.TableStyle-TopicList .FootD-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-TopicList .FootD-Column1-Footer1 p
{
	
}

.TableStyle-TopicList .FootC-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-TopicList .FootC-Column1-Footer1 p
{
	
}

.TableStyle-TopicList .FootB-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-TopicList .FootB-Column1-Footer1 p
{
	
}

.TableStyle-TopicList .FootA-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-TopicList .FootA-Column1-Footer1 p
{
	
}

.TableStyle-TopicList .FootG-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-TopicList .FootG-Column1-Footer1 p
{
	
}

.TableStyle-TopicList .Body-Body1
{
	
}

.TableStyle-TopicList .BodyI-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	font-weight: normal;
	background-color: #eeeeee;
}

.TableStyle-TopicList .BodyI-Column1-Body1 p
{
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-TopicList .BodyE-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	font-weight: normal;
	background-color: #eeeeee;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-TopicList .BodyE-Column1-Body1 p
{
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-TopicList .BodyF-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	font-weight: normal;
	background-color: #eeeeee;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-TopicList .BodyF-Column1-Body1 p
{
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-TopicList .BodyH-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	font-weight: normal;
	background-color: #eeeeee;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-TopicList .BodyH-Column1-Body1 p
{
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-TopicList .BodyD-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	font-weight: normal;
	background-color: #eeeeee;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-TopicList .BodyD-Column1-Body1 p
{
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-TopicList .BodyC-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	font-weight: normal;
	background-color: #eeeeee;
}

.TableStyle-TopicList .BodyC-Column1-Body1 p
{
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-TopicList .BodyB-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	font-weight: normal;
	background-color: #eeeeee;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-TopicList .BodyB-Column1-Body1 p
{
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-TopicList .BodyA-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	font-weight: normal;
	background-color: #eeeeee;
}

.TableStyle-TopicList .BodyA-Column1-Body1 p
{
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-TopicList .BodyG-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	font-weight: normal;
	background-color: #eeeeee;
}

.TableStyle-TopicList .BodyG-Column1-Body1 p
{
	font-size: 9pt;
	font-weight: normal;
}

.TableStyle-TopicList .Body-Body2
{
	
}

.TableStyle-TopicList .BodyI-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Tahoma;
	font-size: 9pt;
	background-color: #fffff0;
}

.TableStyle-TopicList .BodyI-Column1-Body2 p
{
	font-family: Tahoma;
	font-size: 9pt;
}

.TableStyle-TopicList .BodyE-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Tahoma;
	font-size: 9pt;
	background-color: #fffff0;
	border-bottom-width: 1px;
	border-bottom-style: none;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-TopicList .BodyE-Column1-Body2 p
{
	font-family: Tahoma;
	font-size: 9pt;
}

.TableStyle-TopicList .BodyF-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Tahoma;
	font-size: 9pt;
	background-color: #fffff0;
	border-bottom-width: 1px;
	border-bottom-style: none;
}

.TableStyle-TopicList .BodyF-Column1-Body2 p
{
	font-family: Tahoma;
	font-size: 9pt;
}

.TableStyle-TopicList .BodyH-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Tahoma;
	font-size: 9pt;
	background-color: #fffff0;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-TopicList .BodyH-Column1-Body2 p
{
	font-family: Tahoma;
	font-size: 9pt;
}

.TableStyle-TopicList .BodyD-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Tahoma;
	font-size: 9pt;
	background-color: #fffff0;
	border-bottom-width: 1px;
	border-bottom-style: none;
}

.TableStyle-TopicList .BodyD-Column1-Body2 p
{
	font-family: Tahoma;
	font-size: 9pt;
}

.TableStyle-TopicList .BodyC-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Tahoma;
	font-size: 9pt;
	background-color: #fffff0;
}

.TableStyle-TopicList .BodyC-Column1-Body2 p
{
	font-family: Tahoma;
	font-size: 9pt;
}

.TableStyle-TopicList .BodyB-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Tahoma;
	font-size: 9pt;
	background-color: #fffff0;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-TopicList .BodyB-Column1-Body2 p
{
	font-family: Tahoma;
	font-size: 9pt;
}

.TableStyle-TopicList .BodyA-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Tahoma;
	font-size: 9pt;
	background-color: #fffff0;
}

.TableStyle-TopicList .BodyA-Column1-Body2 p
{
	font-family: Tahoma;
	font-size: 9pt;
}

.TableStyle-TopicList .BodyG-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Tahoma;
	font-size: 9pt;
	background-color: #fffff0;
}

.TableStyle-TopicList .BodyG-Column1-Body2 p
{
	font-family: Tahoma;
	font-size: 9pt;
}


