/*<meta />*/

@import url('../Prettify/prettify.css');

h1.concepttitle
{
	
}

body.conbody
{
	margin-top: 6pt;
}

p
{
	margin-top: 6pt;
	color: #333333;
}

span.ph
{
	
}

h1.tasktitle
{
	
}

body.taskbody
{
	
}

div.prereq
{
	
}

ol.steps
{
	
}

li.step
{
	
}

span.cmd
{
	
}

span.uicontrol
{
	font-weight: bold;
	font-family: Verdana;
}

div.note
{
	margin-top: 6pt;
}

div.stepresult
{
	
}

table.simpletable
{
	border-left: thin solid gray;
	border-right: thin solid gray;
	border-top: thin solid gray;
	border-bottom: thin solid gray;
	border-collapse: collapse;
	margin-top: 12pt;
}

td.stentry
{
	font-weight: bold;
	border-left: thin solid gray;
	border-right: thin solid gray;
	border-top: thin solid gray;
	border-bottom: thin solid gray;
}

th
{
	border-left: thin solid gray;
	border-right: thin solid gray;
	border-top: thin solid gray;
	border-bottom: thin solid gray;
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	color: #333333;
	font-size: 11pt;
}

div.info
{
	
}

ul
{
	margin-top: 6pt;
	margin-bottom: 6pt;
}

li
{
	margin-left: 20pt;
	margin-top: 6pt;
	margin-bottom: 2pt;
	color: #333333;
}

div.postreq
{
	
}

div.noteTip
{
	margin-top: 6pt;
}

div.noteNote
{
	margin-top: 6pt;
}

div.choices
{
	font-size: 9pt;
}

div.choice
{
	font-size: 9pt;
}

h1.referencetitle
{
	font-size: 16pt;
	color: #333333;
}

body.refbody
{
	margin-top: 6pt;
}

div.section
{
	margin-top: 12pt;
}

h2.sectiontitle
{
	
}

div.noteImportant
{
	margin-top: 6pt;
}

div.noteCaution
{
	margin-top: 6pt;
}

span.tt
{
	font-family: monospace;
}

div.context
{
	font-size: 9pt;
}

div.fig
{
	margin-top: 12pt;
	font-size: 9pt;
	font-style: italic;
}

span.figtitle
{
	mc-auto-number-format: '{b}Figure {n+}. {/b} ';
}

p.shortdesc
{
	
}

div.example
{
	margin-top: 6pt;
}

h2.exampletitle
{
	
}

div.noteRemember
{
	margin-top: 6pt;
}

div.noteAttention
{
	margin-top: 6pt;
}

table.choicetable
{
	border-left: thin solid gray;
	border-right: thin solid gray;
	border-top: thin solid gray;
	border-bottom: thin solid gray;
	border-collapse: collapse;
	margin-top: 12pt;
}

tr.chrow
{
	
}

td.choption
{
	border-left: thin solid gray;
	border-right: thin solid gray;
	border-top: thin solid gray;
	border-bottom: thin solid gray;
}

td.chdesc
{
	border-left: thin solid gray;
	border-right: thin solid gray;
	border-top: thin solid gray;
	border-bottom: thin solid gray;
}

ol.substeps
{
	
}

ul.substeps
{
	
}

li.substep
{
	
}

pre.lines
{
	
}

div.noteFastpath
{
	margin-top: 6pt;
}

dl.sl
{
	
}

dt.sli
{
	
}

table
{
	border-left: thin solid gray;
	border-right: thin solid gray;
	border-top: thin solid gray;
	border-bottom: thin solid gray;
	border-collapse: collapse;
	margin-top: 12pt;
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	color: #333333;
}

td
{
	border-left: thin solid gray;
	border-right: thin solid gray;
	border-top: thin solid gray;
	border-bottom: thin solid gray;
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
}

div.dl
{
	margin-left: 2ex;
	margin-top: 1.33ex;
	margin-bottom: 1.33ex;
}

div.dlentry
{
	
}

span.dt
{
	font-weight: bold;
}

div.dd
{
	font-size: 9pt;
}

thead.chhead
{
	
}

th.choptionhd
{
	border-left: thin solid gray;
	border-right: thin solid gray;
	border-top: thin solid gray;
	border-bottom: thin solid gray;
}

th.chdeschd
{
	border-left: thin solid gray;
	border-right: thin solid gray;
	border-top: thin solid gray;
	border-bottom: thin solid gray;
}

div.result
{
	
}

div.lq
{
	margin-left: 20pt;
	margin-top: 6pt;
}

ul.steps-unordered
{
	
}

h1
{
	font-size: 16pt;
	border-bottom: solid 2px;
	border-color: #333333;
	color: #413000;
	font-family: georgia, ' Segoe UI Bold', ' san-serif';
	text-transform: capitalize;
}

div
{
	font-size: 9pt;
}

a
{
	
}

u.uicontrol
{
	text-decoration: none;
	font-family: Verdana, ' "Segoe UI Bold"', ' sans-serif';
	color: #333333;
	font-size: 14pt;
}

@media print
{
	u.uicontrol
	{
		border-bottom: solid 1px;
		border-bottom-color: #333333;
	}

	h1
	{
		font-family: georgia, ' Segoe UI Bold', ' san-serif';
	}

	li.nospace
	{
		margin-left: 0px;
	}

	a
	{
		text-decoration: underline;
		color: #0000ff;
	}

	span.uicontrol
	{
		font-weight: bold;
		font-style: normal;
	}

	MadCap|xref
	{
		text-decoration: underline;
		color: #0000ff;
	}

	h6
	{
		font-size: 10pt;
	}

	MadCap|glossaryTerm
	{
		color: #000000;
	}

	h2
	{
		border-bottom: solid 1px #696969;
	}

	div.GlossaryPageTerm
	{
		font-size: 12pt;
	}

	div.GlossaryPageHeading
	{
		font-size: 12pt;
		border-bottom-width: 0px;
		border-bottom-style: none;
		border-bottom-color: #ffffff;
	}

	div.GlossaryPageDefinition
	{
		font-size: 9pt;
	}

	MadCap|glossaryProxy
	{
		border-top-style: none;
		font-family: georgia, ' Segoe UI Bold', ' san-serif';
	}

	MadCap|helpControlMenuItem.Highlighted
	{
		border: solid 1px #4169e1;
		background-color: #b0c4de;
	}

	MadCap|dropDownHotspot
	{
		color: #000000;
	}

	MadCap|dropDownHotspot:focus
	{
		color: #000000;
	}

	MadCap|dropDownHotspot:hover
	{
		color: #000000;
	}

	p
	{
		
	}

	body
	{
		font-family: georgia, ' Segoe UI Bold', ' san-serif';
	}

	body.conbody
	{
		
	}

	body.refbody
	{
		
	}

	body.taskbody
	{
		
	}

	MadCap|breadcrumbsProxy
	{
		font-family: georgia, ' Segoe UI Bold', ' san-serif';
	}

	MadCap|helpControlMenu
	{
		font-family: georgia, ' Segoe UI Bold', ' san-serif';
	}

	MadCap|helpControlMenuItem
	{
		font-family: georgia, ' Segoe UI Bold', ' san-serif';
	}

	MadCap|relatedTopics
	{
		font-family: georgia, ' Segoe UI Bold', ' san-serif';
	}
}

@media non-print
{
	tr
	{
		border: none;
	}

	a
	{
		text-decoration: none;
	}

	a:link
	{
		color: #000066;
		text-decoration: none;
	}

	a:visited
	{
		color: #000066;
		text-decoration: none;
	}

	a:hover
	{
		text-decoration: underline;
		color: #3399ff;
	}

	MadCap|conceptLink
	{
		color: #6495ed;
	}

	MadCap|conceptLink:hover
	{
		text-decoration: underline;
	}

	MadCap|keywordLink
	{
		color: #000066;
	}

	MadCap|keywordLink:hover
	{
		text-decoration: underline;
	}

	MadCap|relatedTopics
	{
		color: #00245d;
		text-decoration: underline;
		font-family: georgia, ' Segoe UI Bold', ' san-serif';
	}

	MadCap|relatedTopics:hover
	{
		border: none 0px;
		color: #3399ff;
		text-decoration: underline;
	}

	MadCap|shortcut
	{
		color: #6495ed;
	}

	MadCap|xref
	{
		text-decoration: none;
		color: #6495ed;
	}

	MadCap|xref.ConceptPageNumber:hover
	{
		text-decoration: underline;
	}

	MadCap|xref.IndexPageNumber:hover
	{
		text-decoration: underline;
	}

	MadCap|xref.ListOfPageNumber:hover
	{
		text-decoration: underline;
	}

	MadCap|xref.TOCPageNumber:hover
	{
		text-decoration: underline;
	}

	MadCap|xref:hover
	{
		text-decoration: underline;
	}

	ul.nospace
	{
		padding-right: 0px;
		margin: 0px;
		display: none;
		padding: 0px;
		padding-left: 0px;
	}

	li.nospace
	{
		display: list-item;
		margin-left: 0pt;
	}

	li
	{
		margin-left: 0pt;
	}

	h3
	{
		font-size: 12pt;
		font-family: georgia, ' Segoe UI Bold', ' san-serif';
		color: #413000;
	}

	h1
	{
		font-size: 16pt;
	}

	h2
	{
		font-size: 14pt;
		font-family: georgia, ' Segoe UI Bold', ' san-serif';
	}

	MadCap|helpControlMenu
	{
		font-size: 8pt;
		background-color: #fcfcfc;
		border-bottom-color: #696969;
		border-left-color: #696969;
		border-right-color: #696969;
		border-top-color: #696969;
		font-family: georgia, ' Segoe UI Bold', ' san-serif';
	}

	MadCap|helpControlMenuItem
	{
		font-size: 8pt;
		padding-left: 20px;
		padding-right: 20px;
		font-family: georgia, ' Segoe UI Bold', ' san-serif';
	}

	MadCap|helpControlMenuItem.Highlighted
	{
		
	}

	MadCap|glossaryTerm
	{
		font-weight: normal;
		mc-open-image: none;
		mc-closed-image: none;
		font-family: georgia, ' Segoe UI Bold', ' san-serif';
		color: #347f00;
	}

	MadCap|glossaryTerm.Hyperlink:hover
	{
		color: #3399ff;
	}

	MadCap|glossaryTerm.Popup:hover
	{
		color: #3399ff;
	}

	MadCap|glossaryTerm.Popup
	{
		font-weight: normal;
	}

	MadCap|glossaryTerm:hover
	{
		color: #3399ff;
	}

	MadCap|popupBody
	{
		background-repeat: repeat-x;
		color: #333333;
		background-image: url('../Images/popup_bkg.png');
		background-color: #add1ff;
	}

	span.figtitle
	{
		color: #347f00;
		mc-auto-number-format: '{ }';
	}

	MadCap|dropDown
	{
		mc-open-image: url('../Images/Collapse.png');
		mc-closed-image: url('../Images/Expand.png');
	}

	MadCap|variable
	{
		font-weight: 200;
	}

	MadCap|variable.PageNumber
	{
		color: #000000;
	}

	a.MCBreadcrumbsLink
	{
		color: #6495ed;
	}

	a.MCBreadcrumbsLink:hover
	{
		color: #ff8c00;
		text-decoration: none;
	}

	a.MCBreadcrumbsLink:visited
	{
		color: #b22222;
	}

	a.MCBreadcrumbsLink:focus
	{
		text-decoration: none;
	}

	a.Popup
	{
		color: #6495ed;
	}

	a.Popup:hover
	{
		color: #6495ed;
		text-decoration: underline;
	}

	a.Popup:visited
	{
		color: #b22222;
	}

	a.Popup:focus
	{
		text-decoration: none;
	}

	MadCap|dropDownHotspot:hover
	{
		color: #6495ed;
		text-decoration: underline;
	}

	MadCap|breadcrumbsProxy
	{
		font-family: georgia, ' Segoe UI Bold', ' san-serif';
	}

	MadCap|glossaryProxy
	{
		font-family: georgia, ' Segoe UI Bold', ' san-serif';
	}
}

MadCap|variable
{
	color: #a9a9a9;
	border-bottom: none 1px #a9a9a9;
}

li.nospace
{
	margin-left: 0pt;
}

h2
{
	font-size: 14pt;
	color: #413000;
	font-family: georgia, ' Segoe UI Bold', ' san-serif';
	text-transform: capitalize;
}

MadCap|breadcrumbsProxy
{
	color: #333333;
	font-family: Verdana, ' "Segoe UI Bold"', ' sans-serif';
	font-size: 10pt;
}

h3
{
	mc-heading-level: 0;
	font-size: 12pt;
	color: #413000;
	font-family: georgia, ' Segoe UI Bold', ' san-serif';
	text-transform: capitalize;
}

h4
{
	mc-heading-level: 0;
	font-size: 12pt;
	color: #413000;
	font-family: georgia, ' Segoe UI Bold', ' san-serif';
}

h5
{
	mc-heading-level: 0;
	font-size: 10pt;
	color: #413000;
}

h6
{
	mc-heading-level: 0;
	color: #413000;
}

MadCap|relatedTopics
{
	color: #696969;
	font-size: 9pt;
	font-family: georgia, ' Segoe UI Bold', ' san-serif';
}

MadCap|relatedTopics:hover
{
	border: solid 1px #4169e1;
}

MadCap|relatedTopics:focus
{
	
}

MadCap|helpControlMenuItem.Highlighted
{
	background-color: #87ceeb;
	color: #696969;
}

MadCap|helpControlMenu
{
	font-size: 9pt;
	color: #696969;
	font-family: georgia, ' Segoe UI Bold', ' san-serif';
}

MadCap|helpControlMenuItem
{
	color: #696969;
	font-size: 9pt;
	font-family: georgia, ' Segoe UI Bold', ' san-serif';
}

a.LandingPageHeader
{
	font-size: 12pt;
	color: #347f00;
}

img.left
{
	padding-right: 10px;
}

div.LandingPage
{
	background-image: url('../Images/LandingPageItem_Background.png');
	background-repeat: repeat-x;
}

td.LandingPage
{
	background-image: url('../Images/LandingPageItem_Background.png');
	background-repeat: repeat-x;
}

tr.LandingLinks
{
	line-height: 0px;
	height: 0px;
}

td.LandingLinks
{
	vertical-align: top;
	text-align: left;
	display: table-cell;
	width: 200px;
	border-collapse: collapse;
	table-layout: auto;
	line-height: 6px;
}

MadCap|conceptLink
{
	color: #4848ff;
}

MadCap|conceptLink:focus
{
	
}

MadCap|conceptLink:hover
{
	
}

img
{
	border: none;
}

MadCap|dropDown.VideoDropDown
{
	mc-closed-image: none;
	mc-open-image: none;
}

MadCap|glossaryProxy
{
	font-family: georgia, ' Segoe UI Bold', ' san-serif';
}

MadCap|toggler
{
	font-weight: bold;
	font-style: normal;
	font-size: 12pt;
	background-color: #ffffff;
}

MadCap|toggler:hover
{
	background-color: #ffffff;
}

MadCap|toggler:focus
{
	background-color: #ffffff;
}

ul.notelist
{
	padding-left: 5px;
}

MadCap|dropDownHead
{
	
}

MadCap|dropDownHotspot
{
	color: #6495ed;
}

caption
{
	color: #006400;
}

MadCap|dropDownHotspot:focus
{
	color: #6495ed;
}

MadCap|dropDownHotspot:hover
{
	color: #ff8c00;
}

body
{
	font-family: georgia, ' Segoe UI Bold', ' san-serif';
	color: #707070;
	font-size: 11pt;
}

MadCap|keywordLink
{
	color: #4848ff;
}

a:link
{
	text-decoration: none;
	color: #00245d;
}

a:visited
{
	color: #00245d;
	text-decoration: none;
}

a:focus
{
	color: #00245d;
	text-decoration: underline;
}

a:hover
{
	color: #00245d;
	text-decoration: underline;
}

